:root {
  --primary: #3EC5AC;
  --hover: #1DECC7;
}

body {
  font-family: Arial;
  font-size: 120%;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--hover);
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: var(--primary);
  border-radius: 5px;
  padding: 12px 12px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: var(--hover);
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
